DB_DATABASE=<DATABASE_NAME>
DB_USER=<DATABASE_USER_NAME>
DB_PASSWORD=<DATABASE_PASSWORD>
DB_HOST=<DATABASE_HOST>
DB_PORT=<DATABASE_PORT>

PORT= <PORT_VALUE>

JWT_SECRET = <JWT_SECRET>

CREATE_ADMIN_KEY = <ADMIN_CREATE_KEY>

BCRYPT_SALT_ROUND = <BCRYPT_SALT_ROUND_VALUE>

ENCRYPTION_KEY = <ENCRYPTION_KEY>

PUPPETEER_EXECUTABLE_PATH = <PUPPETEER_EXECUTABLE_PATH>